.dark {
  background-color: black;
  color: white;
}

.light {
  background-color: white;
  color: black;
  font-style: italic;
}

.highlighted {
  border: thick dotted red;
}
body{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2{
    margin-bottom:0px;
}
